body{
    background-color: #C3B1E1;
    text-align: center;
    font-family: "Lucida Console";


}

div {
  border-bottom: 0.5px solid black;
}

button{
    border-radius: 10px;
    font-size: 1.5vw;
    margin-bottom: 2.5px;
}

button:hover{
    background-color: #e1d8f0;


}

h1{
    font-size: 4vw;
}
h2{
    font-size:2.5vw;
}
h3{
    font-size: 1.8vw;
}
p{
    font-size: 1.5vw;
}
h4{
      font-size: 1.5vw;  
}

#warning{
    color:red;
}

img{
    max-width:40%;
    height:auto;
}

/* #startButt{

} */

#win{
    color:yellow;
}