body{
    background-color: #C3B1E1;
    text-align: center;
        font-family: "Lucida Console";
}

button{
    border-radius: 10px;
    text
}

button:hover{
    background-color: #e1d8f0;

}